@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        

    <ul class="header-links pull-right">
        <li><a asp-controller="Account" asp-action="U"><i class=""></i>Hello @UserManager.GetUserName(User)</a></li> 
        <li><a asp-controller="Account" asp-action="Logout"><i class=""></i>Logout</a></li>
    </ul>
    }
    else
    {
    <ul class="header-links pull-right">
        <li><a asp-controller="Account" asp-action="Login"><i class=""></i>Login</a></li>
        <li><a asp-controller="Account" asp-action="Register"><i class=""></i>Register</a></li>
    </ul>
    }





